/* CSS Document */

body { margin:0; }
img { border:0; }
.holder { width:988px; margin:0 auto; font-family:"Microsoft YaHei"; }
.i_0 { width:24px; height:24px; float:left; background:url(images/icons.gif) no-repeat 0 0; }
.i_1 { width:24px; height:24px; float:left; background:url(images/icons.gif) no-repeat -24px 0; }
.i_2 { width:24px; height:24px; float:left; background:url(images/icons.gif) no-repeat -48px 0; }
.VProducts { }
.VProducts .VProductsCaption { height:54px; }
.VProducts .VProductsCaption h2 { background:url(images/products_title.gif) no-repeat; float:left; width:200px; height:54px; color:#fff; font-size:30px; margin:0; line-height:54px; text-align:center; font-weight:normal; }
.VProducts .VProductsCaption span { display:block; width:256px; padding-left:10px; line-height:24px; padding-top:24px; float:left; color:#999; font-size:14px; }
.VProducts .VProductsCaption span p { padding:0; margin:0; padding-left:2px; padding-right:10px; float:left; }
.VProducts ul { border-right:solid 1px #e8e8e8; border-top:solid 2px #82ae32; border-bottom:solid 2px #82ae32; font-family:NSimSun; font-size:14px; margin:0; padding:0; list-style:none; height:245px; overflow:hidden; }
.VProducts ul li { height:16px; line-height:16px; width:363px; padding:16px; border-left:solid 1px #e8e8e8; border-bottom:solid 1px #e8e8e8; float:left; color:#999; }
.VProducts ul li.head { width:64px; font-weight:bold; color:#333; background:#f4f4f4; text-align:center; }
.VProducts ul li.last { border-bottom:none; }
.VProducts ul li.clear { clear:both; height:0; border:none; padding:0; margin:0; }
.VProducts ul li a { padding-right:10px; color:#666; text-decoration:none; }
.VProducts ul li a:hover { color:#f00; text-decoration:underline; }
.MPList { width:988px; height:434px; padding:10px 0; margin:0; list-style:none; display:block; padding-top:20px; }
.MPList li { padding:0 10px; padding-bottom:20px; height:192px; width:308px; float:left; }
.MPList li a { text-decoration:none; color:#333; background:url(images/m_bg.gif) no-repeat center; display:block;  height:192px; width:308px; font-size:12px; }
.MPList li a:hover { background:url(images/m_bg-h.gif) no-repeat center; color:#333 }
.MPList .MPListContent { padding:10px; height:192px; }
.MPList .MPListContent h3 { line-height:34px; height:44px; _line-height:54px; _height:54px; _margin-top:10px; color:#4c6f09; padding:0; margin:0; font-size:26px; font-weight:normal; padding-left:4px; padding-bottom:20px; }
.MPList .MPListContent h3 span { float:left; }
.MPList .MPListContent .text { float:left; width:186px; }
.MPList .MPListContent .text p { margin:4px 0; }
.MPList .MPListContent .img { float:right; width:91px; }